#head {
    position: initial;
    height: auto;
    .mui-btn {
        color: white;
    }
    .mui-input-clear {
        background: white;
    }
   
}

#Recognize {
//  margin-top: 70px;
//  height: -webkit-calc(100%-85px);
    height:80vh;
//     background: red;
    box-sizing: border-box;
}